<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @customer.cell %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<table width="400" border="1">
<% @customer.orders.each do |value| %>
	<tr>
		<td>
			<%= link_to value.oname, value %>
		</td>
		<td>
			<%= value.oqty %>
		</td>
		<td>
			<%= value.oprice %>
		</td>
	</tr>
<% end %>
</table>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
